#top {
  min-height: 100vh;
  padding: 1rem;

  // Background
  background-color: $color-white;
  background-image: url(/assets/backgrounds/overlay.png),
    linear-gradient(60deg, rgba($accent1, 0.5) 5%, rgba($accent2, 0.35)),
    url(/assets/backgrounds/pixel.gif);
  background-repeat: repeat, no-repeat, no-repeat;
  background-size: 100px 100px, cover, cover;
  background-position: top left, center center, bottom center;
  background-attachment: fixed, fixed, fixed;

  // Positioning
  display: flex;
  align-items: center;
  justify-content: center;

  -webkit-perspective: 1000px;
  perspective: 1000px;

  .card {
    // transition: all 0.5s;
    // -webkit-transform: perspective(100px) rotateX(15deg);
    // -moz-transform: perspective(1000px) rotateX(15deg);
    // transform: perspective(1000px) rotateX(15deg);
    opacity: 0;
    border-radius: $border-radius;
    background-color: $color-white;
    min-height: min-content;
    min-width: 15.5rem;
    padding: 4.5rem 4rem;
    opacity: 0.95;
    text-align: center;
    display: flex;
    flex-direction: column;

    @include respond(phone-large) {
      padding: 3.5rem 1rem;
    }

    header {
      .avatar {
        position: relative;
        display: block;
        margin-bottom: 1.5rem;

        img {
          display: block;
          margin: 0 auto;
          border-radius: 100%;
          box-shadow: 0 0 0 1.5rem $color-white;
        }

        &:before {
          content: "";
          display: block;
          position: absolute;
          background: $color-border;
          height: $border-width;
          width: calc(100% + 8rem);
          left: -4rem;
          top: 50%;
          z-index: -1;

          @include respond(phone-large) {
            width: calc(100% + 2rem);
            left: -1rem;
          }
        }
      }

      p {
        margin: 1rem 0;
        font-size: 1.25rem;
        text-transform: uppercase;
      }
    }
  }

  .card .loaded {
    opacity: 1;
    // -webkit-transform: perspective(0px) rotateX(0deg);
    // -moz-transform: perspective(0px) rotateX(0deg);
    // transform: perspective(0px) rotateX(0deg);
  }
}
